.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx
*.cache/
*.tmp
*.log
bin/
obj/
*.launchSettings.json
Properties/launchSettings.json
DoAnCSQuanLyNhanSuVaTienLuong/DoAnCSQuanLyNhanSuVaTienLuong/obj/Debug/DoAnCSQuanLyNhanSuVaTienLuong.csproj.AssemblyReference.cache
*.json
*.cache
*.pdb
*.exe
*.sqlite
*.bin
*.json
